<md-dialog aria-label="Modifca percorsi">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Percorsi</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="hide()">
                <md-icon
                        md-svg-src="assets/img/close.svg"
                        aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content style="overflow: auto; padding: 1em;">
        <div>
            <div class="section" id="editPro">
                <h1>Modifica progetto</h1>
                <p>
                    La pagina per la modifica di un <cite>progetto</cite>
                    permette all'utente di creare e modificare la
                    <cite>mappa mentale</cite> che sta alla base della
                    presentazione e di definire vari <cite>percorsi di
                    presentazione</cite> ad essa associati che descrivono
                    l'ordine in cui i contenuti dei nodi dovranno essere
                    visualizzati durante la presentazione.<br />
                    Al caricamento della pagina l'utente troverà il grafo che
                    rappresenta la mappa mentale.<br />
                    I nodi del grafo possono contenere vari elementi, sia
                    testuali che grafici, che verranno utilizzati per la
                    creazione dei <cite>frame</cite> di presentazione.<br />
                    Questi nodi sono collegati fra loro da relazioni
                    gerarchiche (associazioni di tipo padre-figlio) e
                    associazioni logiche, associazioni create dall'utente che
                    mettono in evidenza il collegamento concettuale presente
                    tra due nodi. <br/>
                    L'utente troverà nella pagina tutti gli strumenti necessari 
                    per poter creare la propria mappa mentale, definire 
                    associazioni logiche fra nodi e definire <cite>percorsi di 
                    presentazione</cite> relativi alla mappa creata.<br />
                    La pagina è formato da due viste, che sono <cite>Modifica
                    mappa</cite> e <cite>Modifica percorsi</cite>.
                    Queste due viste permettono di usufruire rispettivamente
                    degli strumenti per la modifica della <cite>mappa mentale
                </cite> e degli strumenti per modifica dei
                    <cite>percorsi</cite>.<br />
                    L'utente può passare da una vista all'altra tramite i
                    pulsanti <strong><cite>Mappa</cite></strong> e <strong>
                    <cite>Percorsi</cite></strong> presenti al centro della
                    barra di intestazione dell'applicazione.<br />
                    La barra di intestazione contiene anche altri pulsanti che
                    permettono di modificare la visualizzazione della
                    <cite>mappa mentale</cite> e di modificare le impostazioni
                    del <cite>progetto</cite>.
                </p>
                <img class="imgLunga"
                     src="app/views/manuale/img/strumentiHeader.png"
                     alt="strumentiHeader" width="856" height="192">
                <p>
                    Se il <cite>progetto</cite> aperto è appena stato creato,
                    l’utente troverà un nodo già esistente. Questo è il nodo
                    <cite>radice</cite> e rappresenta il nodo base della mappa
                    mentale. L’utente potrà iniziare la creazione della mappa
                    partendo da questo nodo.
                </p>
                <h2>Modifica dei percorsi di presentazione</h2>
                <img class="imgLarga"
                     src="app/views/manuale/img/modificaPercorsi.png"
                     alt="modificaPercorsi" width="1596" height="1280">
                <p>
                    Verranno descritte in seguito gli strumenti che l'utente
                    potrà utilizzare per la creazione e la gestione dei percorsi
                    personalizzati di presentazione.
                </p>
                <h3>Creazione nuovo percorso</h3>
                <p>
                    Per poter creare un nuovo percorso di presentazione,
                    l'utente deve trovarsi nella vista <cite>percorsi</cite> e
                    deve premere il pulsante <strong>più</strong>
                    <img src="app/views/manuale/img/piuButton.png"
                         alt="percorsi" width="44" height="42">
                    presente nella parte sinistra della vista.<br />
                    Verrà visualizzata una finestra, nella quale l'utente dovrà
                    inserire il nome del nuovo percorso e premere il pulsante
                    <strong>Aggiungi</strong>.
                </p>
                <h3 id="editPath">Modifica di un percorso</h3>
                <p>
                    Per poter modificare il nome di un percorso ed il suo
                    contenuto, l'utente deve premere il pulsante con l'icona
                    rappresentante una <cite>matita</cite> presente nella lista
                    percorsi e relativa al percorso che si desidera modificare.
                </p>
                <img class="imgCenter imgPiccola"
                     src="app/views/manuale/img/modificaPercorso.png"
                     alt="modificaPercorso" width="300" height="390">
                <h3>Eliminazione percorso</h3>
                <p>
                    Per poter eliminare un percorso, l'utente deve premere il
                    pulsante con l'icona rappresentante un cestino presente
                    nella lista percorsi e relativa al percorso che si desidera
                    eliminare.<br />
                    Per il <cite>percorso</cite> di default non è disponibile
                    questa opzione.
                </p>
                <img class="imgLarga"
                     src="app/views/manuale/img/menuPercorsi.png"
                     alt="menu percorsi" width="716" height="294">
                <h3>Aggiunta di un nodo ad un percorso di presentazione</h3>
                <p>
                    Per poter aggiungere un nodo ad un <cite>percorso di
                    presentazione</cite> l'utente deve:
                <ol>
                    <li>Trovarsi nella vista <strong><cite>Percorsi</cite>
                    </strong>;</li>
                    <li>Selezionare il nodo dalla mappa mentale;</li>
                    <li>Selezionare dalla finestra che comparirà, il
                        <cite>percorso</cite> al quale aggiungere il nodo
                        selezionato.</li>
                </ol>
                </p>
                <img class="imgCenter imgPiccola"
                     src="app/views/manuale/img/aggiuntaNodoAPercorso2.png"
                     alt="aggiuntaNodoAPercorso2" width="276" height="361">
                <h2>Modifica delle impostazioni del progetto</h2>
                <p>
                    Tramite questo strumento l'utente può effettuare delle
                    modifiche al <cite>progetto</cite> sul quale sta
                    lavorando.<br /> In particolare potrà modificare:
                <ul>
                    <li>Il nome del <cite>progetto</cite>;</li>
                    <li>Il colore di sfondo dei <cite>frame</cite> del
                        <cite>progetto</cite>;</li>
                    <li>Il colore del testo dei <cite>frame</cite> del
                        <cite>progetto</cite>;</li>
                    <li>Il font utilizzato nei <cite>frame</cite> del
                        <cite>progetto</cite>.</li>
                </ul>
                </p>
                <p>La finestra <strong><cite>Impostazioni del progetto</cite>
                </strong> può essere raggiunta premendo l'icona rappresentante
                    un ingranaggio
                    <img src="app/views/manuale/img/impostazioniButton.png"
                         alt="impostazioniButton" width="34" height="34">,
                    presente all'interno della barra di intestazione
                    dell'applicazione.
                </p>
                <img class="imgLarga"
                     src="app/views/manuale/img/impostazioneProgetto.png"
                     alt="impostazioneProgetto" width="852" height="482">
                <br />
                <br />
            </div>
            <div class="section" id="stampa">
                <h1>Stampa di un progetto</h1>
                <p>
                    L'applicazione <strong><cite>Premi</cite></strong> offre la
                    possibilità di effettuare la stampa in formato
                    <cite>PDF</cite>, su stampante e su iCloud (funzionalità
                    disponibile solo per i dispositivi Apple), sia della
                    <cite>mappa mentale</cite> che della presentazione.<br />
                    In seguito verranno descritti i procedimenti che consentono
                    di eseguire le varie stampe.
                </p>
                <h2>Stampa mappa mentale</h2>
                <p>
                    Per poter effettuare la stampa della mappa mentale,
                    l'utente deve trovarsi nella pagina di modifica della
                    <cite>mappa mentale</cite> o in quella per la modifica dei
                    <cite>percorsi</cite> di presentazione.<br />
                    Dovrà poi aprire il <cite>menù</cite> tramite il pulsante
                    <img src="app/views/manuale/img/buttonMenu.png"
                         alt="buttonMenu" width="30" height="26"> e selezionare
                    la voce <strong>Stampa</strong>.<br />
                    In seguito verrà visualizzata la finestra di stampa del
                    <cite>browser</cite> dalla quale sarà possibile selezionare
                    le impostazioni di stampa, specificando se stampare come
                    <cite>PDF</cite> oppure stampare con una stampante.
                    Dal momento che viene stampata solamente la parte della
                    <cite>mappa mentale</cite> visualizzata a schermo, è
                    consigliato regolare in modo opportuno lo <cite>zoom</cite>
                    della mappa, in modo da stamparla nella sua interezza.
                </p>
            </div>
        </div>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <md-button href="/statics/userManual" target="_blank">
            Manuale completo
        </md-button>
        <span flex></span>
        <md-button ng-click="hide()" class="md-primary">
            Chiudi
        </md-button>
    </div>
</md-dialog>
