#logIn{
    position:absolute;
    width: 100%;
    height: 100%;
    /*background-color: rgba(143, 143, 143,0.2);*/

}

#logIn > .md-whiteframe-z1 {
    margin: auto;
    overflow: auto;
}

h2.md-display-1 {
    text-align: center;
}

@media only screen and (max-width: 768px) {
    /*#logIn > .md-whiteframe-z1{
        width: 100%;
    }*/

    h2.md-display-1 {
        text-align: center;
    }
}
